DirectoryIndex index.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^api/(.+)$ api/api.php?action=$1 [QSA,L]
RewriteRule ^api/?$ api/api.php [QSA,L]

RewriteRule ^ index.html [L]
